<div class="jumbotron text-center">
   <div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-12 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">
    	{{input type="email" value=email class="form-control" placeholder="Please type your e-mail address" autofocus="autofocus"}}
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">
    	{{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=message}}
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-3 col-md-offset-2">
        <button disabled={{isNotValid}} {{action 'sendResponse'}} class="btn btn-primary btn-lg btn-block">Request invitation</button>
    </div>
    <div>
    	1.{{isValidEmail}}
    	2.{{isMessageEnoughLong}}
    	3.{{isValid}}
    	4.{{isNotValid}}
    </div>
  </div>
  {{#if responseAlert}}
    <div class="alert alert-success">{{responseAlert}}</div>
  {{/if}}
  <br/><br/>
</div>

{{outlet}}
